.signInForm {
  width: 52rem;
}

.submitBtn {
  padding: 0.7rem 5rem !important;
  border-radius: 4px;
}

.forgotPassword {
  margin-top: 3rem;
}

.forgotPassword > a {
  color: #4183c4 !important;
  text-decoration: underline !important;
}
